h2 {
    text-align: center;
}

.mb-1{
    text-align: left;
}

.bolded {
font-weight: bold;

}
    
.mb-2{
    text-align: right;
}

.titleSize{
    font-size: 40px;
}
.virus{
    height: 150px;
    width: 50%;
}