.aboutPage {
  background-color: white;
  height: 85vh;
  text-align: center;
  width: auto;
}

.siteInfo {
  padding: 200px;
  background-color: grey;
  color: white;
  margin: 20px;
  border-radius: 20px;
}


@media only screen and (max-width: 950px) {
  .siteInfo {
    padding: 100px;
  }
}
@media only screen and (max-width: 600px) {
  .siteInfo {
    padding: 5%;
  }
}

