.App {
  text-align: center;
}

nav {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #231f20;
  color: white;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.fill {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(50%, #231f20),
    color-stop(50%, #52ffc1)
  );
  background: linear-gradient(to right, #231f20 50%, #6bec44c4 50%);
  background-position: 0;
  background-size: 200%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: white;
  text-decoration: none;
}

.fill:hover {
  font-family: 'Montserrat', sans-serif;
  background-position: -100%;
}

Link.homeAbout {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}
Link {
  font-family: 'Montserrat', sans-serif;
  margin-right: 50px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}
.menu {
  display: none;
}
@media only screen and (max-width: 800px) {
  .homeAbout {
    display: none;

  }
  .nav-links{
    justify-content:center;
  }
.fill{
  padding: 10px 7px;
  justify-content: flex-start;
}
}
@media only screen and (max-width: 500px) {

.fill{
  font-size: 14px;
}
}